.App {
  padding: 2rem 4rem;
}

.form__row {
  display: flex;
  align-content: flex-start;
}
.form__group {
  width: 40rem;
  margin: 1rem 0;
}

.form__checkbox {
  outline: 1px solid #eee;
  margin-right: 1rem;
}
