body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333;
  color: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

label {
  display: inline-block;
  margin-right: 1rem;
  min-width: 6rem;
}
input {
  padding: 0.4rem;
}

p {
  color: salmon;
}

button {
  margin-top: 0.4rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: darkgreen;
  border-color: darkgreen;
  color: #eee;
  font-size: 1.2rem;
}
button:hover {
  cursor: pointer;
}

.App {
  padding: 2rem 4rem;
}

.form__row {
  width: 100%;
  display: flex;
  align-content: flex-start;
}
.form__group {
  width: 100%;
  margin: 1rem 0;
}
.checkbox {
  display: flex;
}
.checkbox__input {
  outline: 1px solid #eee;
  margin-right: 1rem;
}
.checkbox__label:hover {
  cursor: pointer;
}
/* .form__row { */
/*   display: flex; */
/*   width: 100%; */
/*   align-content: center; */
/*   margin-bottom: 2.4rem; */
/*   flex-wrap: wrap; */
/* } */

/* .form__group { */
/*   display: flex; */
/*   flex-direction: column; */
/*   margin-right: 1rem; */
/* } */
